.wrapper {
  padding-left: 1rem;
}
.wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper li {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  left: 0;
  top: 10vh;
  right: calc(100vw - 100vw / 4 * 3 + 1rem);
  bottom: 0;
  background-color: lightgray;
  opacity: 0.3;
  outline: none;
  border: none;
}
