.wrapper {
  display: flex;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-items: center;
  width: 50px;
  height: 50px;
  border: 6px solid lightblue;
  border-left-color: lightgreen;
  border-radius: 50%;
  animation: 1.3s linear infinite spin;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
