.button-link {
  padding: 2rem;
  color: rgb(247, 248, 253);
}

ul {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

li {
  width: 400px;
  height: 400px;
  overflow: hidden;
  padding: 1rem;
  background-color: var(--secondary);
  font-size: 2rem;
  border-radius: 5px;
}

li p {
  text-wrap: nowrap;
}

li img {
  margin: auto;
  object-fit: cover;
}
