.title {
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: center;
}

.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-size: 2rem;
}

.results > * {
  color: blueviolet;
  border: 1px solid lightslategray;
  text-align: center;
}
